<div class="about-us-block">


<div class="title inner-title">
Plaggs.com, the purpose</div>


<p>The purpose  behind the plaggs.com is to give fashion back to people, to embrace you and your style.....</p>


<div class="title inner-title" style="margin-top:15px">
People behind the Plaggs.com</div>


<p>We are small group of fashion and people enthusiast.....................</p>

<div class="title inner-title" style="margin-top:15px">
Contact</div>	

<p>for</p>

<% content_for :breadcrumb_trail do %>
<%= link_to "About us ", about_ads_path, {:class => "last"} %>

<% end %>

</div>



		
		
		
		
	