#forgot_password
  %h3.title Forgot Password
  #authentication_notice
    

- semantic_form_for(:session, :url => { :controller => "sessions", :action => "forgot_password" }) do |f|
  - f.inputs do
    = f.input :email_address, :required => false
    OR
  - f.inputs do
    = f.input :username, :required => false
    
  - f.buttons do
    = f.commit_button "Click here"
- content_for :breadcrumb_trail do
  = link_to "Forgot Password", forgotpassword_path, :class => "last"	