#notifications
  .about-us-block
    .title
      About us
    .title.inner-title
      Vårt syfte
    %p
      Plaggs.com är en modeinriktad, social handelsportal med människor bakom modet i fokus. Det är vår övertygelse att ett plagg blir mode, och därmed får ett liv, först när en  människa bär det. För oss är det självklart att det är du som skall tala om för oss vad som funkar, är trendigt och moderiktigt, och inte tvärtom (som är normen idag).  Vår vision är att skapa en plats med  alla verktyg som du behöver, så att du kan lägga ditt avtryck i modesfären.
      
      Tillsammans skapar vi ett nätverk vars syfte är att starkt influera modevärlden som vi lever i.
    .title.inner-title{:style => "margin-top:15px;"}
      Eko-logiskt
    %p
      Här har vi kul, samtidigt som vi gör det rätta ur en ekologisk synpunkt. När vi köper, säljer, byter våra egna plagg, gör vi naturen en tjänst och sparar dess resurser. Vi har kommit till den punkten där Jorden börjar säga ifrån, och vi behöver göra det vi kan för att bidra till ett snällare, smartare mer ekologiskt samhälle.
      
      Mao. känn dig duktig när du använder Plaggs.com, för det är du!
    .title.inner-title{:style => "margin-top:15px;"}
      Ansikte bakom Plaggs.com
    %p Idén till Plaggs.com kom till mig så som de flesta andra idéer brukar komma, i ett tillstånd mellan sömn och vakenhet, hösten 2009. Jag är Darko Rakovic, bosatt de senaste åren i Göteborg. Se mitt visitkort online, i fall du känner behov av att komma i kontakt med mig personligen. Jag nätverkar gärna med nya människor som har varierande bakgrund och kompetenser.
    - content_for :breadcrumb_trail do
      = link_to "About us ", about_ads_path, {:class => "last"}