#notifications
  .about-us-block
    .title
      Terms and Conditions
    .title.inner-title
      %br/
      1.Användarvillkor
    %p För att kunna registrera ett konto på Plaggs.com krävs en acceptans av Användarvillkoren. Det bindande juridiska avtalet mellan dig och Plaggs.com (nedan refererat till ”oss” eller ”vi”) består av (1.1) Villkor och riktlinjer för uppläggandet av ett plagg, (1.2) Villkor för användarkontot, (1.3) Villkor för köp och byte och är gällande från acceptansdagen och framåt. När vi refererar till ”plagg” här nedan, avser vi  alla modeartiklar som läggs upp av registrerade användare på Plaggs.com
    .title.inner-title{:style => "margin-top:15px;"} 1.1 Villkor och riktlinjer för uppläggandet av ett plagg
    %p Vi vill inget annat än att ge dig en riktigt bra upplevelse av sajten. Därför måste vi se till att följande villkor följs. Om ett plagg nekas beror det sannolikt på att det inte överrensstämmer med något eller några villkor. Vi förbehåller oss rätten att avgöra om ett plagg är lämpligt för publicering. Självklart hjälper vi dig om det skulle haka upp sig någonstans.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.1 Piratkopior/förfalskningar och stöldgods
    %p Det är förbjudet att sälja och byta piratkopior, förfalskningar eller stöldgods. Användaren ansvarar och garanterar att alla plagg är äkta och original. Det hjälper inte att du ”trodde” att din Breitling från Patpong i Bangkok var original.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.2 Plaggsbeskrivning
    %p Titelrubriken skall beskriva plagget. Det är inte tillåtet med länkningar i varken titeln eller beskrivningen av plagget. Vidare skall plagget beskrivas mer detaljerat i annonstexten och motsvara beskrivningen i form av art, kvantitet eller andra egenskaper. Det upplagda materialet får inte vara falsk, vilseledande eller felaktig. Texten skall vara på svenska eller engelska.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.3 Bild – och filmkvalité
    %p Varje plagg skall, med avseende på standard, godkännas av våra snälla administratörer. Bilder skall vara välbelysta, tydliga och ej vara missvisande. Bilder bör ha som lägsta nivå en upplösning på 600x940. Det viktiga är att plagget och dess detaljer syns väl. Vi vill helst att det är du, din kompis, din syster, din pappa eller en annan riktig människa bakom plagget. Dvs. släng inte bara plagget på en soffa och ta kort med en gammal mobil. (vill du trots allt göra det, hänvisar vi dig till plocket eller vad det nu heter)
    .title.inner-title{:style => "margin-top:15px;"} 1.1.4 Dubbletter
    %p Det är inte tillåtet att lägga in ett plagg mer än en gång eller i flera kategorier.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.5 Kategorisering
    %p Plagget måste placeras i rätt kategori. Jeans måste t.ex. taggas korrekt så att plagget hamnar under jeans-kategorin.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.6 Upp-tid
    %p För närvarande, ligger ett plagg uppe tills användaren raderar sin annons.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.7 Stötande plagg
    %p Det är förbjudet med uppläggande av plagg med stötande motiv eller som är av kränkande karaktär.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.8 Underleverantörer
    %p Plaggs.com använder externa underleverantörer vid t.ex. användares inbäddning av filmklipp. Det är därför viktigt att du är införstådd och accepterar underleverantörens villkor.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.9 Upphovsrätt
    %p Det är inte tillåtet att kopiera en annan användares text och/eller media (bild eller film), samt text och/eller media från andra sajter utan rättighetsinnehavarens medgivande. Tredje parts media och/eller texter är upphovsrättsskyddade enligt 49a § Upphovsrättslagen. Vi vill tydliggöra att det även är brottsligt att, via ditt upplagda plagg, göra upphovsrättsskyddat material tillgänglig för allmänheten. Användaren skall förfoga över nödvändiga rättigheter och bär personligen ansvaret till allt material som han eller hon publicerar på Plaggs.com
    .title.inner-title{:style => "margin-top:15px;"} 1.1.10 Innehållsrättigheter
    %p För att Plaggs.com skall kunna fungera som ett slags gemensam modeportal, överlåter du alla rättigheter till innehållet som du publicerar (bild, text) på Plaggs.com till oss. Under inga omständigheter gör vi ditt innehåll tillgänglig till tredje part. Enkelt sagt, dina bilder kommer inte att hamna på en kontaktannons-banner, eller någon annan sajt utanför Plaggs.com, det lovar vi.  Det här villkoret är enbart en gardering från vår sida, enligt råd från killen i den finpressade gråa kostymen.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.11 Personuppgifter
    %p Vi värnar om våra användares personliga integritet. Därför behandlar vi alla personliga uppgifter som våra användare anförtror oss på ett varsamt och ansvarsfullt sätt. Vi följer personuppgiftslagen och endast ett fåtal administratörer har behörigheten till den informationen.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.12 Ändring av användarvillkor
    %p Vi förbehåller oss rätten till framtida ändringar av användarvillkoren. Om en ändring är av sådan karaktär att användandet av Plagg.com förändras på ett betydande sätt kommer detta i sådana fall meddelas till användarna.
    .title.inner-title{:style => "margin-top:15px;"} 1.1.13 Överträdelser av användarvillkor
    %p Plaggs.com ansvarar inte för användares överträdelser av användarvillkoren och du åtar dig att hålla Plaggs.com skadeståndslöst om tredje part yrkar på någon ersättning eller på påföljder av liknande art. Användaren svarar personligen för att givna villkor efterföljs. Allvarliga överträdelser av användarvillkoren kan göra att vi tar väldigt illa vid och tar bort ditt Plaggs-konto utan förvarning.
    .title.inner-title
      %br/
      1.2 Villkor för användarkontot
    %p När du registrerar dig som ny användare måste du uppge en fungerande e-postadress. Användaruppgifterna skickas sedan till angiven adress. För alla användares säkerhet och trevnad finns det regler som skall följas. Vi ber dig att läsa igenom och respektera villkoren.
    .title.inner-title{:style => "margin-top:15px;"} 1.2.1 Personligt ansvar
    %p Användaren svarar personligen för händelser som kan knytas till användarkontot.  Plaggs.com kommer att radera kontot utan förvarning och stänga av användare som bryter mot lagstiftning, förordningar och/eller föreskrifter samt vedertagna etiska regler.  Det är inte tillåtet att handla förolämpande, ärekränkande, utöva hets mot folkgrupp eller att idka olaga tvång eller hot. Det är inte heller tillåtet att distribuera pornografisk eller oanständigt material samt innehåll som kan uppfattas som stötande. Det är även förbjudet att lägga upp virussmittade filer eller skicka kedjebrev eller skräppost från ditt användarkonto.
    .title.inner-title{:style => "margin-top:15px;"} 1.2.2 Användarnamn och avaktivering
    %p När du registrerar ett konto hos oss får du en egen Plaggs.com/*användarnamn* - webbadress. Vi tillåter inte registrering av användarnamn från kända personer eller registrerade varumärken, om inte du intygar skriftligen att du är en giltig representant för kändisen eller varumärket. Om ett konto är inaktivt i mer än sex månader kan det avaktiveras utan förvarning. För att försäkra dig mot att inte mista ditt konto rekommenderar vi dig att vara aktiv genom att t.ex. logga in med jämna mellanrum, lägga upp egna plagg, kommentera, gilla etc..
    .title.inner-title{:style => "margin-top:15px;"} 1.2.3 Missbruk:
    %p Det är förbjudet att missbruka eller olovligen använda någon annan användares konto. Alla obehöriga intrång av användarkonton kommer att polisanmälas.
    .title.inner-title{:style => "margin-top:15px;"} 1.2.4 Giltighetstid
    %p Användarkontot gäller tillsvidare. En användare kan när som helst avregistrera sitt Plaggs-konto genom sin profilsida.
    .title.inner-title{:style => "margin-top:15px;"} 1.2.5 Avgifter
    %p Det är för närvarande gratis att använda en stor del av våra tjänster. Då vi erbjuder användarna en avgiftsbelagd premium-tjänst kommer priset och villkoren att vara tydligt angivna.
    .title.inner-title{:style => "margin-top:15px;"} 1.2.6 Överlåtelse
    %p Det är inte tillåtet att överlåta användarkontot till tredje part.
    .title.inner-title{:style => "margin-top:15px;"} 1.2.7 Yttre påverkan
    %p Plaggs.com har inget ansvar för informationsbortfall, systemfel, yttre påverkan av tredje part eller säkerheten för användarna.
    .title.inner-title
      %br/
      1.3 Villkor för köp och byte
    %p Användare intygar, utöver villkoren i kapitel 1.1 - 1.2, att fullgöra sina förpliktelser enligt villkoren för köp och byte. Lämna aldrig ut kortnummer eller annan känslig information till andra användare. Plaggs.com begär aldrig ut kortuppgifter från våra medlemmar över telefon eller mail.
    .title.inner-title{:style => "margin-top:15px;"} 1.3.1 Säljarens förpliktelser vid köp
    %p Om en överenskommelse har träffats med en köpare förbinder sig säljaren, om inget annat är avtalat, att leverera plagget enligt villkoren med köparen.
    .title.inner-title{:style => "margin-top:15px;"} 1.3.2 Köparens förpliktelser vid köp
    %p Om en överenskommelse har träffats med en säljare förbinder sig köparen, om inget annat är avtalat, att betala enligt villkoren med säljaren
    .title.inner-title{:style => "margin-top:15px;"} 1.3.3 Säljaren och köparens förpliktelser vid byte
    %p Båda parterna är förpliktade, om inget annat är avtalat, att skicka plaggen enligt de överenskomna villkoren.
    .title.inner-title{:style => "margin-top:15px;"} 1.3.4 Ansvar vid tvist
    %p Plaggs.com kan inte hållas skadeståndsskyldig för eventuell skada eller förlust. Plaggs.com är inte ansvarig för transaktioner mellan medlemmarna på sidan. Du är även medveten om, och accepterar, risken vid handel med minderåriga personer eller personer som agerar under falska förespeglingar. Plaggs.com ansvarar inte för användares överträdelser av användarvillkoren och du åtar dig att hålla Plaggs.com skadeståndslöst om någon tredje part yrkar på någon ersättning eller påföljd av liknande art.
    .title.inner-title{:style => "margin-top:15px;"} 1.3.5 Force majeure
    %p Plaggs.com är utöver 1.3.4 befriad från omständligheter som inte rimligen kunnat förutses, råda över eller som medför att uppfyllandet av förpliktelserna inte är ekonomiskt försvarbara.
    - content_for :breadcrumb_trail do
      = link_to "About us ", terms_about_us_path, {:class => "last"}