- semantic_form_for(@network) do |f|

  %h2.legend Edit network
  = render :partial => "form", :locals => { :f => f }

  - f.buttons do
    = f.commit_button "Save changes"

- content_for :breadcrumb_trail do
  = link_to "Networks", networks_path
  = link_to "Editing network", edit_network_path(@network), :class => "last"