.ui-dropdownchecklist {
  width: 185px;
  height: 20px;
  border: 1px solid #ddd;
  border-right: 0;
  background: #fff url(/images/dropdown.png) no-repeat center right;
  outline: none;
}

.ui-dropdownchecklist-hover, .ui-dropdownchecklist-active {
  background-image: url(/images/dropdown_hover.png);
}

.ui-dropdownchecklist-text {
  height: 20px;
  line-height: 20px;
  margin-right: 17px /* background dropdown.png image */;
  color: #444444;
}

.ui-dropdownchecklist-dropcontainer {
  background-color: #fff;
  border: 1px solid #999;
}

.ui-dropdownchecklist-item {
  font: menu;
  font-size: 12px;
}

.ui-dropdownchecklist-item-hover {
  background-color: #444444;
}

.ui-dropdownchecklist-item-disabled label {
  color: #ccc;
}

.ui-dropdownchecklist-item-hover .ui-dropdownchecklist-text {
  color: white;
}

.ui-dropdownchecklist-group {
  font-weight: bold;
  font-style: italic;
}

.ui-dropdownchecklist-indent {
  padding-left: 20px;
}
