#shadow_box_authentication {
  display: none;
}

#authentication {
  position: absolute;
  background: #FFFFFF;
  height: 230px;
  padding-bottom: 55px;
  padding-top: 15px;
  padding-left: 10px;
}
#authentication #sign_in {
  float: left;
  width: 600px;
}
#authentication #sign_in .inputs li {
  position: relative;
  height: 42px;
  line-height: 42px;
}
#authentication #sign_in .inputs li input, #authentication #sign_in .inputs li label {
  background: #f5f4ed;
  border: 0;
  color: #929186;
  font-size: 14px;
  font-weight: normal;
  height: 18px;
  line-height: 18px;
  padding: 12px 18px;
  width: 324px;
}
#authentication #sign_in .inputs li label {
  cursor: text;
  position: absolute;
}
#authentication .cancel {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  background-image: url(/images/new_session_submit.png);
  width: 135px;
}
#authentication #sign_up {
  float: right;
  width: 220px;
}
#authentication #sign_up .title {
  color: #40403f;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
#authentication #sign_up .subtitle {
  font-size: 12px;
  font-weight: bold;
}
#authentication #sign_up p {
  margin-bottom: 18px;
}
#authentication #sign_up strong {
  display: block;
  font-weight: bold;
}
#authentication #sign_up strong span {
  color: #e89c2c;
}
#authentication #sign_up #new_user_link {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  background-image: url(/images/new_user_submit.png);
  margin-bottom: 10px;
  width: 135px;
}

#session_submit {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  background-image: url(/images/new_session_submit.png);
  width: 135px;
}

#authentication_warning {
  background: #e4005a;
  color: #fff;
  line-height: 26px;
  margin-bottom: 20px;
  padding: 0 12px;
}
