#sliderContent.ui-corner-all
  %div{:style => "background:#f5f4ed; height:26px; width:445px; margin-left:18px"}
    %img{:alt => "left", :src => "/images/slider-left.gif", :style => "float:left"}/
    #slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
      %a.ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus{:href => "#", :style => "left: 0%; border:0"}
        %img{:alt => "slider", :src => "/images/slider.gif"}/
    %img{:alt => "right", :src => "/images/slider-right.gif", :style => "float:right"}/
  .viewer.ui-corner-all
    .content-conveyor.ui-helper-clearfix{:style => "width: 2128px; left: 0px;"}
      .item
        / <h2>Omega Nebula</h2>        = image_tag("/images/assets/byt_view/86/diadora-scotland-home-jersey-2008.jpg")
        %h3 Sage skirt
        %h3.text-price 20 SEK
      .item
        / <h2>Omega Nebula</h2>        = image_tag("/images/assets/byt_view/86/diadora-scotland-home-jersey-2008.jpg")
        %h3 Sage skirt
        %h3.text-price 20 SEK
      .item
        / <h2>Omega Nebula</h2>        = image_tag("/images/assets/byt_view/86/diadora-scotland-home-jersey-2008.jpg")
        %h3 Sage skirt
        %h3.text-price 20 SEK
      .item
        / <h2>Rosette Nebula</h2>        = image_tag("/images/assets/byt_view/86/diadora-scotland-home-jersey-2008.jpg")
        %h3 Sage skirt
        %h3.text-price 20 SEK
      .item
        / <h2>Ring Nebula</h2>        = image_tag("/images/assets/byt_view/86/diadora-scotland-home-jersey-2008.jpg")
        %h3 Sage skirt
        %h3.text-price 20 SEK
      .item
        / <h2>Tarantula Nebula</h2>        = image_tag("/images/assets/byt_view/86/diadora-scotland-home-jersey-2008.jpg")
        %h3 Sage skirt
        %h3.text-price 20 SEK
      .item
        / <h2>Triangulum Nebula</h2>        = image_tag("/images/assets/byt_view/86/diadora-scotland-home-jersey-2008.jpg")
        %h3 Sage skirt
        %h3.text-price 20 SEK