- semantic_form_for(@department) do |f|
  
  %h2.legend Editing department
  = render :partial => "form", :locals => { :f => f }

  - f.buttons do
    = f.commit_button "Save changes"

- content_for :breadcrumb_trail do
  = link_to "Editing department", edit_department_path(@department), :class => "last"
