- semantic_form_for(@size) do |f|
  
  %h2.legend Add a new size
  = render :partial => "form", :locals => { :f => f }

  - f.buttons do
    = f.commit_button "Add this size"

- content_for :breadcrumb_trail do
  = link_to "Sizes", sizes_path
  = link_to "Create a new size", new_size_path, :class => "last"
