- semantic_form_for(@tag) do |f|
  
  %h2.legend Create a new tag
  = render :partial => "form", :locals => { :f => f }

  - f.buttons do
    = f.commit_button "Create this tag"

- content_for :breadcrumb_trail do
  = link_to "Tags", tags_path
  = link_to "Create a new tag", new_tag_path, :class => "last"
