Hi #{@recipient_username},

Just to let you know, there is a new plagg in #{@categorizable.name} that you might be interested in.

View it at #{plagg_url(@plagg_id, :only_path => false)}.

\-The Plaggs Crew