Hi #{@recipient_username},

We've reviewed your ad, and it needs the following changes before we can publish it:

\#{@description_of_changes}

To edit your ad, go here: #{edit_plagg_url(@plagg_id, :only_path => false)}
To view your ad, go here: #{plagg_url(@plagg_id, :only_path => false)}

\-The Plaggs Crew