Hi #{@recipient_username},

Just to let you know, #{@user_username} has posted new plaggs that you might be interested in.

Check out their profile here: #{user_url(@user_id, :only_path => false)}

\-The Plaggs Crew