Hi #{@recipient_username},

Just to let you know, there are new plaggs in #{@category_name} that you might be interested in.

Check them out here: #{category_url(@category_id, :only_path => false)}

\-The Plaggs Crew