- semantic_form_for @post, :html => {:multipart => true} do |f|
  
  %h2.legend Editing blog post
  = render :partial => "form", :locals => { :f => f }

  - f.buttons do
    = f.commit_button "Save changes and publish now"

- content_for :breadcrumb_trail do
  = link_to "Blog", posts_path
  = link_to "Editing post", edit_post_path(@post), :class => "last"
